.btn {
  background-color: var(--btn-color);
  border: 1px solid var(--accent-color);
  transition: box-shadow var(--transition);
}

.dlt {
  height: 30px;
  width: 70px;
  margin-left: auto;
}

.btn:hover,
.dlt:hover {
    box-shadow: -1px 1px 10px 7px rgba(103, 37, 165, 0.3);
}

.sbmt {
    width: 150px;
}

.sbmt:hover {
    box-shadow: -1px 1px 10px 7px rgba(103, 37, 165, 0.3);
  }
